$black-1: #333333;
$black-2: #000000;
$blue-1: #004e9c;
$blue-2: #0058A9;
$yellow-1: #FAE042;
$gray-1: #5f5f5f;
$gray-2: #F0F0F0;
$white-1: #ffffff;

$color-bg-default: $white-1;

$color-border-default: rgb($black-2, .1);

$color-primary: $blue-1;

$color-warning: $yellow-1;

$color-text-dark: $black-2;
$color-text-default: $gray-1;

$color-modal-border: $color-border-default;
$color-modal-background: rgb($black-1, 0.4);
$color-modal-background-dialog: $white-1;
$color-modal-background-warning: $color-warning;
$color-modal-text-color-warning: $color-warning;
$color-modal-text-color-warning-hover: $black-1;

$color-the-header-bg: $blue-2;

$color-code-bg: $gray-2;

$color-base-table-bg-head: $gray-2;
$color-base-table-bg-even-row: $gray-2;
