html, body {
  margin: 0;
  padding: 0;
  color: colors.$color-text-default;
  font-size: $font-size-default;
}

h1, .h1 {
  font-size: fn.rem(35);
  line-height: (70 / 35);
}

h2, .h2 {
  font-size: fn.rem(25);
  line-height: (30 / 25);
}

// h3, .h3 {
//   font-size: fn.rem(18);
//   line-height: (22 / 18);
// }