
.button {
  padding: fn.rem(7px) fn.rem(15);
  font-size:  $font-size-default;
  cursor: pointer;
  border: 1px solid colors.$gray-1;
  outline: none;
  background-color: transparent;

  &:focus, &:active {
    outline: none;
  }

  &.\--close {
    background-color: transparent;
    
  }

  &.\--radius {
    padding: fn.rem(7);
    width: fn.rem(35);
    height: fn.rem(35);
    text-align: center;
    border-radius: 50%;
  }

  &.\--warning {
    background: colors.$color-warning;
  }

  &.\--primary {
    background-color: colors.$color-primary;
  }

  &.\--outline-primary {
    border: 1px solid colors.$color-primary;
    color: colors.$color-text-dark;

    &:hover {
      background: colors.$color-primary;
      color: colors.$white-1
    }
  }

  &.\--outline-warning {
    border: 1px solid colors.$color-modal-background-warning;
    color: colors.$color-modal-background-warning;

    &:hover {
      background: colors.$color-modal-background-warning;
      color: colors.$color-modal-text-color-warning-hover;
    }
  }
}
